<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <title>League Form</title>
</head>
<body>
<!-- navbar -->
    <div class = "navbar">
        <div class = "navbarLeft">
            <p>Welcome {{users['firstname'] + " " + users['lastname']}}</p>
        </div>
        <div>
            <a href = "/magazine_add">add Magazine<a/>
            <a href = "/userPage">Account<a/>
        </div>
        <div class = "navbarRight">
            <a href= "/logout" class = "navbarRightRegister">Logout</a>
        </div>
    </div>
<!-- lists all of the magazines -->
    <h3>Magazines<h3>
        {% for magazine in magazines %}
            <p><a href = "/magazines/{{magazine['id']}}/{{magazine['firstname']}}/{{magazine['lastname']}}">{{magazine["title"]}}</a> was added by {{magazine["firstname"] + " " + magazine["lastname"] + " "}}<a href = "/dashboard/subscribe/{{magazine['id']}}">Subscribe</a></p>
        {% endfor %}
</div>
<!-- books link  -->

</body>

</html>