<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <title>League Form</title>
</head>
<body>
<!-- navbar -->
    <div class = "navbar">
        <div>
            <a href = "/magazine_add">add Magazine<a/>
            <a href = "/dashboard">Dashboard<a/>
        </div>
        <div class = "navbarRight">
            <a href= "/logout" class = "navbarRightRegister">Logout</a>
        </div>
    </div>
<!-- Update User Form -->
    <div class = "box">
    <h1>Update User</h1>
    <div>
        <p>All parts of form must be totally completed broskey!</p>
        <form action="/userPage/updating" method="POST">
            <p> First Name: <input type="text" name="firstname" value = "{{user['firstname']}}"></p>
            <p> Last Name: <input type="text" name="lastname" value = "{{user['lastname']}}"></p>
            <p> Email: <input type="text" name="email" value = "{{user['email']}}"></p>
            <input type="submit" value="Update">
        </form>
        <!-- CHECKING TO SEE IF VALIDATIONS WERE TRIGGERED!! -->
        {% with messages = get_flashed_messages() %}
        <!-- declare a variable called messages -->
            {% if messages %}
            <!-- check if there are any messages -->
                {% for message in messages %}
                <!-- loop through the messages -->
                    <p>{{message}}</p>
                    <!-- display each message in a paragraph tag -->
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>
<!-- lists all of the magazines -->
    <h3>Magazines<h3>
        {% for magazine in magazines %}
            <p>{{magazine["title"]}}<a href = "/userPage/deleteMagazine/{{magazine['id']}}">DELETE</a></p>
            {% for sub in subs %}
                {% if sub['magazine_id'] == magazine['id']: %}
                    <!--INCREMENTING VARIABLE-->
                {% endif %}
            {% endfor %}
            <p>Number of Subscriptions: {{magazine['subs']}}</p>
        {% endfor %}
</div>
<!-- books link  -->

</body>

</html>