*{
    font-family:cursive;
    margin: 0px;
    padding: 0px;
    color: black;
}
.navbar{
    background-image: url('/static/images/Banner.png');
    display: flex;
    padding: 20px;
    width: 100%;
    height: 100px;
    align-items: center;
    background-color: brown;
}

.navbarLeft{
    display: flex;
    justify-content: center;
    width: 20%;
}
.navbarLeftHome{
    flex: 1;
    color: #54d9fc;
    padding: 10px;
    background-color: #16497c;
    border: 2px solid  #3ec9ff;
    border-radius: 10px;
    box-shadow: 5px 5px #1c3c56;
}
.navbarLeftChampions{
    flex: 1;
    padding: 10px;
    color: #cf667e;
    background-color: #16497c;
    border: 2px solid  #d882b0;
    border-radius: 10px;
    box-shadow: 5px 5px #1c3c56;
}
.navbarRight{
    display: flex;
    margin-right: 40px;
    width: 10%;
    margin-left: 70%;
}
.navbarRightRegister{
    flex: 1;
    color: #deebf4;
    padding: 10px;
    background-color: #59abf6;
    border: 2px solid  #59abf6;
    border-radius: 10px;
    box-shadow: 5px 5px #3e85ad;
}
.navbarRightLogin{
    flex: 1;
    color: #deebf4;
    padding: 10px;
    background-color: #59abf6;
    border: 2px solid  #59abf6;
    border-radius: 10px;
    box-shadow: 5px 5px #3e85ad;
}
.box{
    margin-top: 20px;
    margin-left: 0px;
    color: #deebf4;
    padding: 10px;
    background-color: #59abf6;
    border: 2px solid  #59abf6;
    border-radius: 10px;
    box-shadow: 5px 5px #3e85ad;
}

